.TestComponent {
    position: relative;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    user-select: none;
}

.word {
    display: inline-block;
    margin-right: 1rem;

    font-size: 1.8rem;
    line-height: 1.5;

    &:last-child {
        margin-right: 0;
    }

    &Caret {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;

            height: 100%;
            width: 2px;
            top: 0;
            left: 0;
            background-color: var(--main);

            animation: blink 0.5s linear infinite;
        }
    }
}

.testView {
    height: 125px;
    width: 100%;

    overflow: hidden;
}

.correctLetter {
    color: var(--main);
}

.wrongLetter {
    color: var(--error);
}

.extraLetter {
    color: var(--error);
    opacity: 0.7;
}

.wrongWord {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--error);
    }
}

.caret {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;

        height: 100%;
        width: 2px;
        top: 0;
        left: 100%;
        background-color: var(--main);

        animation: blink 0.5s linear infinite;
    }
}

.timer {
    font-size: 2rem;
    color: var(--main);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
