.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 25px;
}

.logo{
    line-height: 0.95;
    text-decoration: none;
    color: var(--main);

    > h1 {
        padding-bottom: 10px;
        font-size: 44px;
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}