.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 25px;
}

.logo{
    font-size: 1.6rem;
    line-height: 0.95;
    text-decoration: none;
    color: var(--main);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
}

.leftNav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}