.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 25px;
}

.rss{
    width: 100px;
}

.link{
    text-decoration: none;
    color: var(--sub)
}