.GameCont {
    display: grid;
    grid-template-columns: 135px 135px 280px 185px 140px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: flex-start;
    height: 50px;
    width: 100%;
    border-radius: 10px;
}

.bg{
    background: var(--subAlt);
}

.gameInfo {
    color: var(--text);
    cursor: default;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &:first-of-type {
        justify-self: flex-start;
        padding-left: 15px;
    }

    &:nth-of-type(2) {
        padding-left: 25px;
    }

    &:nth-of-type(3) {
        justify-self: center;
    }

    &:nth-of-type(4) {
        justify-self: center;
    }

    &:last-of-type {
        justify-self: flex-start;
        padding-right: 15px;
    }

    & > span:last-of-type {
        align-self: flex-start;
    }
}