@import '../../variables.scss';

.Logout{
    width: 25px;
    border: none;
    background: none;
    cursor: pointer;
    fill: var(--sub);
    transition: all .2s linear;

    &:hover{
        fill: var(--text);
    }
}