// Color --------------------------------------

// main-theme===================
$main-gray-bg: #323437;
$main-yellow-text: #e2b533;
// =============================

//  Fonts -------------------------------------

//  Font-size ---------------------------------

$test-letters: 1.5rem;
$small-letters: 0.75rem;

// Borders ------------------------------------

$border-rad: 10px;
