@import '../../variables.scss';

.ModeBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
}

.modesList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 10px 20px;
    background-color: var(--subAlt);

    border-radius: $border-rad;

    list-style: none;
}

.mode{
    cursor: pointer;

    transition: all .2s linear;

    &:hover{
        color: var(--main)
    }

    &Active{
        color: var(--main)
    }
}