*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.AccountPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1250px;
    background: var(--background);
}

.bestGamesCont {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.gamesInfoCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;

    & > span {
        justify-self: center;
    }
}
